body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  display: flex;
  height: 132px;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
  margin-bottom: 35px;
}
.layout{
  width: 85%;
  margin: 0 auto;
}
.header .logo{
  flex-grow: 2;
  display: flex;
}

.header .logo span{
  display: block;
  font-size: 90px;
  font-weight: bolder;
  margin-top: -8px;
}

.header .logo h3{
  display: block;
  flex-basis: 40px;
  font-weight: 300;
  text-transform: uppercase;
}

.header nav{
  flex: 1 1 auto;
}
.header nav ul{
  height: 132px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.header li{
text-transform: uppercase;
font-weight: bold;
font-size: 17px;
margin-left:15px;
margin-right: 15px;
}

.header li a{
  color: black;
  text-decoration: none;
  transition: all 300ms ;
}
.header .active,
.header a:hover{
  color: #fa4529
}

.footer{
  text-align: center;
  font-size: 14px;
  margin-top: 35px;
  border-top: 3px solid black;
  padding-top: 45px;
  background-color: #f5f5f5;
  min-height: 150px;
  line-height: 7px;
  color: #444;
  margin-top: 80px;
  min-height: 40px;
}
.content{
  min-height: 400px;
}

.home h1{
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
font-size: 50px;
margin-top: 80px;
}
.home h2{
  color:rgb(98, 97, 97);
  font-weight: lighter;
}


.home  .title a{
  padding: 7px;
  border-radius: 5px;
  color: white;
  background-color: #fa4529;
  text-decoration: none;
  transition: all 300ms;
}


.home strong{
  color: #fa4529;
}
.home .title a:hover,
input[type="submit"]:hover,
button :hover{
  background-color: rgb(26, 137, 26);
}

.page .heading,
.home .heading{
  font-size:40px;
  font-weight: 500;
  color:black;
  margin-bottom: 0px;
}

.page .heading{
  font-size: 55px;
  font-weight: bold;
}

.home p {
  color: rgb(26, 137, 26)
}

input[type="text"],
textarea{
  display: block;
  padding: 15px;
  width: 250px;
  margin-top: 25px;
}

input[type="submit"],
button{
  padding: 15px;
  border-radius: 5px;
  border: 0px;
  color: white;
  background-color: #fa4529;
  text-decoration: none;
  transition: all 300ms;
  font-size: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.works{
  display: flex;
  flex-wrap: wrap;
}

.work-item{
  flex-basis: 500px;
  flex-grow: 1;

  margin: 30px;
}
.work-item .mask  {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px gray;
}


.work-item img{
  width: 100%;
  margin-left: -50px;
}

.work-item h2{
  display: block;
  color: black;
  margin-top: 5px;
  font-size: 30px;
  margin-bottom: 10px;
}

.work-item a {
  color: black;
  text-decoration: none;
  transition: all 300ms;
}
.work-item a:hover {
  color: #fa4529;
  
}

.work-item h3{
  display: block;
  margin-top: 0px;
  color:gray;
  padding-top: 15px;
  border-top: 1px solid #ddd;
}

.page-work .mask{
height: 300px;
overflow: hidden;
box-shadow: 0px 0px 20px #ddd;
}